*.pyc
__pycache__/
.ipynb_checkpoints/
/deprecated/
/output/
/tfrecord/
DiscTest.py
PM-scaling.ipynb
metrics-test.ipynb
submit_*
test_genMetrics.py
test_gradients.py
out_*
slurm-*
try_reduced_IDEAL.ipynb
Untitled.ipynb